
/* Your CSS Code here. */
.holder{
	display : flex;
	justify-content : space-between;
	flex-wrap : wrap;
}
.item-1{
	width:90px;
	height:80px;
	background-color:green;
}
.item-2{
	width:90px;
	height:80px;
	background-color:red;
}
.item-3{
	width:90px;
	height:80px;
	background-color:blue;
}